{% extends "base.html" %}
  {% block body %}

    <script type="text/javascript" src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="/static/jquery-1.11.0.min.js"></script>
    <script type="text/javascript">
      $(function() {

        $("p").hide().fadeIn(2000);

      });
        
    </script>

    <div class="container"> 
      <div class="col-md-8 col-md-offset-2">
        <h2 class="page-header">About Me</h2>
        <p>

  	      Hello, my name is Jack, I am an engineering student studying at Univeristy of California, Berkeley. This is my first attempt in building my personal website and its actually a pretty fun process. I begin to take interest in web development about half a year ago when I built my first web app with my fellow classmates Khoa and Kevin on my first Hackerthon.  </p>
  	    <p> 
  	      You can check out the website here <a href="https://bearrec.herokuapp.com/">Bear Rec</a>
  	    </p>
  	    <p>
          The process was really fun and rewarding and I definitely learn alot. 

          After the event I started dive in to web development and is currently working in a research team that deals with nodes.js.
        </p> 
        <p>
          Besides web development, I have found interest in data science and optimization models.
        </p>
      </div>
    </div>

    <div class="container "> 
      <div class="col-md-8 col-md-offset-2">
        <h2 class="page-header">What you will find Here</h2>
        <p>
         This is a casual personal website with my resume, projects and interesting code I found or wrote.
        </p>
        <p>
          TL;DR
        </p>
          <ul>
          <li>Resume</li>
          <li>Projects that I've Done</li>
          <li>Interesting Codes that I wrote or found online</li>
          <li>Random Post</li>
          </ul>
      </div>
    </div>




{% endblock %}






